* {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 30px;
}

ul {
    display: flex;
    margin: 0;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 20px;
    margin: 10px;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

.main-img {
    width: 400px;
    height: 200px;
}

img {
    width: 100px;
    height: 100px;
}

.image {
    display: flex;
    justify-content: center;
}

.hero-text {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.section-two {
    text-align: center;
}

.info {
    max-width: 200px;
}

.section-four {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}

.footer {
    background-color: #1F2937;
}